### Motivation for dictionaries

In [46]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

In [47]:
ind_ger = countries.index('germany')
ind_ger

2

In [48]:
print(capitals[ind_ger])

berlin

not convenient, not intuitive

### Dictionary
my_dict = {key1:value1, key2:value2}

In [49]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo'}
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

In [50]:
print(europe.keys())

dict_keys(['spain', 'france', 'germany', 'norway'])

In [51]:
print(europe.values())

dict_values(['madrid', 'paris', 'berlin', 'oslo'])

In [52]:
# Print out value that belongs to key 'norway'
print(europe['norway'])

oslo

If the keys of a dictionary are chosen wisely, accessing the values in a dictionary is easy and intuitive.

### Dictionary Manipulation
Assigning new value

In [10]:
# Add the key 'italy' with the value 'rome' to europe
europe['italy'] = 'rome'
print('italy' in europe)

True

In [11]:
europe['poland'] = 'warsaw'
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

updating and removing key:value pairs

In [12]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna'}

# Update capital of germany
europe['germany'] = 'berlin'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

### Dictionariception
Dictionaries can contain key:value pairs where the values are again dictionaries!

In [13]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

# Print out the capital of France
print(europe['france']['capital'])

paris

In [14]:
# Create sub-dictionary data
data = {'capital':'rome', 'population':'59.83'}

In [15]:
# Add data to europe under key 'italy'
europe['italy'] = data
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': '59.83'}}

### Pandas
Handling tabular datasets, use 2D Numpy array?  
Numpy arrays are not good at handling different data types.  
###### So there is Pandas!

### Dictionary to Dataframe
Dataframe: Pandas' most important data structure
- store tabular data
- can label rows and columns
- one way to build dataframe is from a dictionary

In [16]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [17]:
import pandas as pd

In [18]:
my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}
cars = pd.DataFrame(my_dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [19]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

cars.index = row_labels
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### CSV to Dataframe
csv file: comma-seperated values

In [1]:
import os

In [56]:
print(os.getcwd())

C:\Users\Bomin

In [53]:
from IPython.display import Image

![picture](picture.png)

In [22]:
cars = pd.read_csv('cars.csv')
print(cars)

  Unnamed: 0        country  drives_right  cars_per_cap
0         US  United States          True           809
1        AUS      Australia         False           731
2        JPN          Japan         False           588
3         IN          India         False            18
4         RU         Russia          True           200
5        MOR        Morocco          True            70
6         EG          Egypt          True            45

In [23]:
# Fix import by including index_col
cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### Square Brackets
index & select Pandas DataFrames using square brackets

In [25]:
# Print out country column as Pandas Series
print(cars['country'])
print(type(cars['country']))

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
<class 'pandas.core.series.Series'>

*Series : 1-dimensional array that can be labeled.  
 i.e. if you paste together a bunch of Series, you can create a Dataframe

In [26]:
# Print out country column as Pandas DataFrame
print(cars[['country']])
print(type(cars[['country']]))

           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
<class 'pandas.core.frame.DataFrame'>

In [27]:
print(cars[['country', 'drives_right']])

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [28]:
# Print out first 3 observations
print(cars[0:3])

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588

- You can only select rows using square brackets if you specify a slice  
- You're using the integer indexes of the rows, not the row labels!!

In [29]:
# Print out fourth, fifth and sixth observation
print(cars[3:6])

     country  drives_right  cars_per_cap
IN     India         False            18
RU    Russia          True           200
MOR  Morocco          True            70

##### loc : label-based
##### iloc : integer position-based

In [30]:
print(cars.loc['JPN'])
print(cars.iloc[2])

country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object
country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object

In [31]:
print(cars.loc[["AUS", "EG"]])

       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45

In [32]:
print(cars.iloc[[1, 6]])

       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45

In [34]:
# Print out drives_right value of Morocco
print(cars.loc['MOR', 'drives_right'])

True

In [35]:
# Print sub-DataFrame
print(cars.loc[["RU", "MOR"], ["country", "drives_right"]])

     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [36]:
print(cars.iloc[[4, 5], [0, 1]])

     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [37]:
print(cars.loc[:, "drives_right"])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [38]:
print(cars.iloc[:, 1])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [39]:
type(cars.iloc[:, 1])

pandas.core.series.Series

In [40]:
print(cars.loc[:, ['drives_right']])

     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True

In [41]:
print(cars.iloc[:,[1]])

     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True

In [42]:
print(cars.loc[:, ['cars_per_cap', 'drives_right']])

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

In [43]:
print(cars.iloc[:, [2, 1]])

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True