비교 연산자는
bool, int, strings 비교가 가능하다.

이때,
True = 1, False = 0

strings은 알파벳 순서로!
ex) "a" < "b" 는 Ture

<조심해야할 점>

1. "="의 순서


!= 

<=


2.  "="의 갯수

==

array 를 만들어서 한번에 비교도 가능하다

In [46]:
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18 
print(my_house>=18)

# my_house less than your_house
print(my_house<your_house)

[ True  True False False]
[False  True  True False]

print(True and True)
print(True and False)
print(False and True)
print(False and False)

print(True or False)

In [47]:
my_kitchen = 18.0
your_kitchen = 14.0

In [48]:
print(my_kitchen > 10 and my_kitchen < 18)
print(my_kitchen < 14 or my_kitchen > 17)
print(my_kitchen>10 and my_kitchen<18 )
print(my_kitchen<14 or my_kitchen>17)

False
True
False
True

In [49]:
print(not False)
print ( not not False)

True
False

m

array 형태의 경우, 2개 이상의 변수를 함께 비교하고 싶을땐 함수를 사용해야한다!

In [52]:
my_house = np.array([18.0, 20.0, 10.75, 9.50])

print(my_house>=17 and my_house<19)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

np.logical_and    np.logical_or      np.logical_not

In [53]:
my_house = np.array([18.0, 20.0, 10.75, 9.50])
print(np.logical_and(my_house>=17, my_house<19))

[ True False False False]

if 조건문 :
     명령문
     
elif 조건문 : 
     명령문
     
elif 조건문 :
     명령문
     
else :
     명령문

< 주의해야 할 점>

1. python의 if 문은 괄호 대신 들여쓰기 (tab)을 사용
2. ' : '

data frame 형식에서 사용하는 방식

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('C:/Users/Museong Park/cars.csv', index_col = 0)
print(cars)

In [ ]:
# Extract drives_right column as Series: dr
dr = cars["drives_right"]
print(dr)

In [ ]:
# Use dr to subset cars: sel
sel = cars[dr]
print(sel)

# Print sel
print(sel)

In [ ]:
many_cars= cars["cars_per_cap"]>500
car_maniac=cars[many_cars]


# Print car_maniac
print(car_maniac)

In [51]:
a=np.logical_and(cars["cars_per_cap"]>500,cars["drives_right"]==False)
print(cars[a])

     cars_per_cap country  drives_right
AUS           731     Aus         False
JPN           588     JAP         False