## Intermediate Python 문제 답

다음은 파이썬 스터디 구성원들의 모의 시험 점수다.

80점 이상, 90점 미만의 점수를 모아서 출력하라.

In [58]:
score = [ 90, 80, 70 ,65 ,90 ,87 ,93, 78, 82, 73, 91]

In [59]:
score=[ 90, 80, 70 ,65 ,90 ,87 ,93, 78, 82, 73, 91]
import numpy as np
python=np.array(score)

a=np.logical_and(python>=80,python<90)
print(python[a])

[80 87 82]

다음은 현재 몇월인지 판단하는 프로그램이다.

변수 month를 활용하여 "지금은 OO(봄/여름/가을/겨울) 입니다." 라고 출력하는 프로그램을 제작하라.

3월부터 5월까지는 봄

6월부터 8월까지는 여름

9월부터 11월까지는 가을

12월부터 2월까지는 겨울로 판단한다.

In [60]:
import datetime

now=datetime.datetime.now()
month=now.month

In [61]:
import datetime

now=datetime.datetime.now()
month=now.month

if 3<= month <=5 :
    print("지금은 봄입니다.")
elif 6<=month<=8:
    print("지금은 여름입니다.")
elif 9<=month<=11:
    print("지금은 가을입니다.")
else :
    print("지금은 겨울입니다.")

지금은 겨울입니다.

다음 study data frame에서 
th는 기수 정보
score는 파이썬 모의 시험 결과를 나타낸다.

다음 중 13기 인원이면서 시험 점수가 80점 이상, 90점 미만의 사람만 표시하라.

In [62]:
names = ['영신', '무성', '재성', '원석', '시전',"은지"]
major =  [ "statistics", "Sociology", "statistics" ,"Business" ,"Business","Statistics" ]
th = [10,13,11,13,12,13]
score = [92, 89, 69, 83, 73,72]

import pandas as pd
data = {'names':names, 'major':major,"th":th, 'score':score}
study = pd.DataFrame(data)
study.index = study.index+1
print(study)

  names       major  th  score
1    영신  statistics  10     92
2    무성   Sociology  13     89
3    재성  statistics  11     69
4    원석    Business  13     83
5    시전    Business  12     73
6    은지  Statistics  13     72

In [63]:
a= study["th"]>=13

b=study["score"]
c= np.logical_and(b>=80, b<90)

k=np.logical_and(a, c)
study[k]

  names      major  th  score
2    무성  Sociology  13     89
4    원석   Business  13     83

## Q1. [Review] 다음 코드를 읽고, 물음에 답하여라. (데이터 출처: 파이썬 데이터 사이언스 핸드북)

In [54]:
import pandas as pd
area = pd.Series({'California':423967,'Texas':695662,'New York':141297,'Florida':170312,'Illinois':149995})
pop = pd.Series({'California':38332521,'Texas':26448193,'New York':19651127, 'Florida':19552860, 'Illinois':12882135})
data=pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

### 물음: 반복문을 통하여 단위면적당 인구수를 구하고, data의 새로운 column으로 추가하여라.
### 이 때 column명은 pop_per_area로 한다.

In [63]:
#아래에 정답을 기록하세요:

              area       pop  pop_per_area
California  423967  38332521     90.413926
Texas       695662  26448193     38.018740
New York    141297  19651127    139.076746
Florida     170312  19552860    114.806121
Illinois    149995  12882135     85.883763

## Q2. [Apply] 간단한 반복문을 이용하여 구구단 중 n단을 표현하는 함수를 구현하라. 최종 Output은 다음과 같이 나와야한다:

In [56]:
multi_table(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [57]:
def multi_table(n):  #힌트1: 아래로 두 줄만 더 쓰면 됨.
#Enter your answers below

In [58]:
#힌트2: range 함수를 활용할 것.

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

## Q3. [Challenging] 다음은 NumPy array를 정렬하는 함수를 반복문을 이용해 구현한 것이다. 
## 코드를 잘 읽고, 빈칸을 채워 코드를 완성시키시오.   (출처: 파이썬 데이터 사이언스 핸드북)

In [62]:
import numpy as np

x = np.array([2,1,4,3,5])
selection_sort(x)

array([1, 2, 3, 4, 5])

In [61]:
#구현 코드

def selection_sort(x):
    ____ i ___ range(_______):
        swap = i + np.argmin(x[___])
        (x[i], x[swap]) = (x[swap],x[i])
    return x

In [ ]:
## Q1. [Review] 다음 코드를 읽고, 물음에 답하여라. (데이터 출처: 파이썬 데이터 사이언스 핸드북)

import pandas as pd
area = pd.Series({'California':423967,'Texas':695662,'New York':141297,'Florida':170312,'Illinois':149995})
pop = pd.Series({'California':38332521,'Texas':26448193,'New York':19651127, 'Florida':19552860, 'Illinois':12882135})
data=pd.DataFrame({'area':area, 'pop':pop})
data

### 물음: 반복문을 통하여 단위면적당 인구수를 구하고, data의 새로운 column으로 추가하여라.
### 이 때 column명은 pop_per_area로 한다.

#아래에 정답을 기록하세요:



## Q2. [Apply] 간단한 반복문을 이용하여 구구단 중 n단을 표현하는 함수를 구현하라. 최종 Output은 다음과 같이 나와야한다:

multi_table(2)

def multi_table(n):  #힌트1: 아래로 두 줄만 더 쓰면 됨.
#Enter your answers below

#힌트2: range 함수를 활용할 것.

help(range)

## Q3. [Challenging] 다음은 NumPy array를 정렬하는 함수를 반복문을 이용해 구현한 것이다. 
## 코드를 잘 읽고, 빈칸을 채워 코드를 완성시키시오.   (출처: 파이썬 데이터 사이언스 핸드북)

import numpy as np

x = np.array([2,1,4,3,5])
selection_sort(x)

#구현 코드

def selection_sort(x):
    ____ i ___ range(_______):
        swap = i + np.argmin(x[___])
        (x[i], x[swap]) = (x[swap],x[i])
    return x#다음 dictionary에서 독일의 인구값을 도출하세요.
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
print(europe['germany']['population'])

#다음 dictionary에 japan, capital = tokyo, population = 10.44를 추가하세요
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
data={'capital':'tokyo', 'population':10.44}
europe['japan']=data
print(europe)

#다음의 값들로 dictionary를 생성하고 dataframe을 만드세요. dictionary의 key는 순서대로 country, drives_right, cars_per_cap입니다.
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

import pandas as pd

my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}
cars = pd.DataFrame(my_dict)
print(cars)

In [1]:
#다음 dictionary에서 독일의 인구값을 도출하세요.
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [2]:
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
print(europe['germany']['population'])

80.62

In [3]:
#다음 dictionary에 japan, capital = tokyo, population = 10.44를 추가하세요
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [4]:
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
data={'capital':'tokyo', 'population':10.44}
europe['japan']=data
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'japan': {'capital': 'tokyo', 'population': 10.44}}

In [5]:
#다음의 값들로 dictionary를 생성하고 dataframe을 만드세요. dictionary의 key는 순서대로 country, drives_right, cars_per_cap입니다.
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [6]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

import pandas as pd

my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}
cars = pd.DataFrame(my_dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45