1. 다음중 유효하지 않은 코드를 모두 골라라.

1. a=[[1,2,3],[1,3,2]]
2. b=[1, 3, 4, 5, 7, "card"]
3. c=[1, 3, 5, card*5, 5 ]
4. d=[[1,3,5],["card"*2,3,5]]
5. e=[1, 3, 5, "a"**5 ,9]

2-1) 리스트 K에서 1,3,5번째 원소를 출력하라

2_2)  slicing ( : ) 을 활용하여 리스트 K에서 2번째부터 끝까지 모든 원소를 출력하라.

In [1]:
K = [1,35,7,7,5,4,3,4,2,2,2,5,6,3,7,8,"hello"]

3. python 리스트는 python 스터디원들의 전공과 이름, 신장 정보를 가지고있다.

3-1) '영신'의 키인 167을 출력하라. 

3-2) '무성'의 정보중 키를 제외하고 나머지 전부를 출력하라.

In [2]:
python = [["sociology", "무성" ,175],
         ["statistics", "재성", 177.7],
         ["?","은지", 171],
         ["business", "시전" ,179],
         ["statistics", "영신", 167.3]]

4. 대학원생인 '재성'은 오늘을 마지막으로 다른 스터디로 떠나고 '원석'이 스터디에 들어온다. 

원석의 정보인 wonseok=["statistic,"원석",183]을 활용해 재성의 정보를 지우고, 해당 자리에 원석의 정보를 채워넣은 후 python을 출력하라.

In [3]:
wonseok=["statistic","원석",183]

5. 스터디를 떠난 '재성'이 다시 금요일 스터디로 돌아오고 싶어한다. 6번 문제의 '재성'의 정보를 활용해 '재성'의 정보를 python 리스트의 가장 마지막 원소로 포함시킨 리스트 new_python을 만들고 출력시켜라.

In [4]:
jaeseong=["statistics","재성",177.7]

6.'재성'과 '영신'이 스터디를 떠났다. del 함수와 slicing 기능을 (:) 이용해 new_python 리스트에서 '재성'과 '영신'의 정보를 지우고 new_python 리스트를 출력시켜라.

In [5]:
new_python=[['sociology', '무성', 175],
            ['statistic', '원석', 183],
            ['?', '은지', 171],
            ['business', '시전', 179],
            ['statistics', '영신', 167.3],
            ['statistics', '재성', 177.7]]

7.temperature =[11.25, 18.0, 20.0, 10.75, 9.50]

list 함수를 이용해 기존 변수인 temperature 변수에 영향을 주지 않는 copy_temperature 변수를 제작하라.

이후 copy_temperature 리스트의 첫번째 원소를 0으로 변경한 뒤, temperature 변수를 출력해 기존 변수에 변화가 없는지 확인하라.

In [6]:
temperature = [11.25, 18.0, 20.0, 10.75, 9.50]

z = [3,5,7,7,1,5,5,9,11,14,32,54,3,45,98,65,44,66,72,17,24]에서 5가 몇 번 나오는지 출력하여라

z에서 98이 몇 번째에 오는지 찾아서 출력하여라

titanic.csv를 불러오고 이 데이터로 np.array를 만들어 titanic이라 변수명을 지정하여라titanic.csv를 불러오고 이 데이터로 np.array를 만들어 titanic이라 변수명을 지정하여라

In [ ]:
import pandas as pd
data = pd.read_csv("titanic.csv")

In [ ]:
import numpy as np

titanic의 type과 shape을 각각 출력하여라

25번째 승객의 이름을 출력하여라

승객들의 이름만 저장한 name 변수를 만들어라(이름은 4번째 열)

승객들의 나이만 저장한 age 변수를 만들어라(나이는 6번째 열)

승객들의 나이의 중간값을 구하여라

age와 name변수를 이용해서 이름이 'Moen, Mr. Sigurd Hansen' 인 사람의 나이를 출력하여라