# Chapter 3. Logic, Control Flow and Filtering

### 1) Comparison Operators
- how two python values relate, and result in a boolean

In [1]:
# Numeric comparison
print(2 < 3)
print(2 == 3) # equal
print(2 <= 3) # smaller than or equal to
print(3 <= 3)
x=2
y=3
print(x < y)

True
False
True
True
True

In [11]:
# Comparison of strings
print("carl" < "chris") # 알파벳 순서에 따라 "carl"이 더 먼저 나오기 때문에 True

y="test"
print("test" <= y)

True
True

In [13]:
# Comparison of booleans
print(True > False) # True==1, False==0 이기 때문인 듯?

True

In [5]:
# 자료형이 다른 값들은 비교 연산자 쓸 수 없음 
print(3 < "chris")

TypeError: '<' not supported between instances of 'int' and 'str'

In [4]:
# 예외: 서로 다른 숫자형은 비교 가능 (floats, integers)
print(3 < 4.1)

True

In [6]:
# 예외: numpy array와 integer 비교
import numpy as np
bmi = np.array([21.852, 20.975, 21.75, 24.747, 21.441])
bmi > 23 
# bmi 배열 안의 모든 원소를 23과 비교하여 boolean 값으로 리턴

array([False, False, False,  True, False])

In [14]:
# comparing arrays 예시
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house[my_house >= 18])

# my_house less than your_house
print(my_house[my_house < your_house])

[18. 20.]
[20.   10.75]

In [10]:
# 예외: boolean, integer 비교
print(True==1)
print(False==0)

True
True

##### Comparators 정리
1) < : strictly less than  
2) <= : less than or equal  
3) > : strictly greater than  
4) >= : greater than or equal  
5) == : equal  
6) != : not equal

### 2) Boolean operators

In [17]:
# and: 둘 다 참일 때만 True
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [18]:
x = 12
x > 5 and x < 15

True

In [19]:
# or: 둘 중에 적어도 하나만 참이어도 True
print(True or True)
print(False or True)
print(True or False)
print(False or False)

True
True
True
False

In [20]:
y = 5
y < 7 or y > 13  # True or False

True

In [ ]:
# not 
print(not True)
print(not False)

#### Numpy array에서 쓰는 논리 연산자
- logical_and()
- logical_or()
- logical_not()

In [21]:
# bmi가 21보다 크고 22보다 작은 값 찾기
bmi = np.array([21.852, 20.975, 21.75, 24.747, 21.441])
bmi > 21 and bmi < 22  # error 발생

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [24]:
print(np.logical_and(bmi > 21, bmi < 22))  # 배열의 각 원소끼리 연산이 이루어짐
print(bmi[np.logical_and(bmi > 21, bmi < 22)])  # 해당 원소만 추출

[ True False  True False  True]
[21.852 21.75  21.441]

### 3) Conditional statements: if, else, elif

In [2]:
# if condition : 
#     expression
z = 4
if z % 2 == 0 : 
    print("checking " + str(z))
    print("z is even")
# condition이 True이면 해당하는 코드(expression) 실행, False이면 실행 안 함

checking 4
z is even

In [3]:
# condition이 False이면 else문 다음 문장 실행
z = 5
if z % 2 == 0 : 
    print("z is even")
else : 
    print("z is odd")

z is odd

In [4]:
# elif 
z = 3
if z % 2 == 0 : 
    print("z is divisible by 2") # False
elif z % 3 == 0 : 
    print("z is divisible by 3") # True
else :
    print("z is neither divisible by 2 nor 3")

z is divisible by 3

In [5]:
z = 6
if z % 2 == 0 : 
    print("z is divisible by 2") # True
elif z % 3 == 0 : 
    print("z is divisible by 3") # Never reached
else :
    print("z is neither divisible by 2 nor 3")

z is divisible by 2

### 4) Filtering pandas DataFrames

In [1]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [10]:
# 면적이 8 million km2가 넘는 나라 추출

# 1) Select the area column : Pandas Series로 추출해야 함!
print(brics["area"])
print(brics.loc[:,"area"])
print(brics.iloc[:,2])

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64
BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64
BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [12]:
# 2) Do comparison on area column
is_huge = brics["area"] > 8
print(is_huge)  # boolean Series

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [13]:
# 3) Subset DataFrame: Use result to select countries
brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [14]:
brics[brics["area"] > 8]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

##### Boolean operators 활용하여 추출
- Numpy 패키지에서 활용하는 np.logical_and(), np.logical_or(), np.logical_not() 함수 활용

In [15]:
# 면적이 8 million 보다 크고 10 million 작은 나라 
import numpy as np
np.logical_and(brics["area"] > 8, brics["area"] < 10)

BR     True
RU    False
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [16]:
brics[np.logical_and(brics["area"] > 8, brics["area"] < 10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0