In [1]:
#다음 dictionary에서 독일의 인구값을 도출하세요.
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [2]:
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
print(europe['germany']['population'])

80.62

In [3]:
#다음 dictionary에 japan, capital = tokyo, population = 10.44를 추가하세요
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [4]:
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }
data={'capital':'tokyo', 'population':10.44}
europe['japan']=data
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'japan': {'capital': 'tokyo', 'population': 10.44}}

In [5]:
#다음의 값들로 dictionary를 생성하고 dataframe을 만드세요. dictionary의 key는 순서대로 country, drives_right, cars_per_cap입니다.
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [6]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

import pandas as pd

my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}
cars = pd.DataFrame(my_dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [7]:
# 'cars.csv'파일로 dataframe을 만들고, 일본 인도 러시아의 car_per_cap 값을 dataframe으로 도출하세요.
from google.colab import files 
uploaded = files.upload()

ModuleNotFoundError: No module named 'google.colab'

- 다음은 학생들의 학기말 성적이다. 90점 이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 60점 이상이면 D, 60점 미만이면 F를 출력하도록 코드를 작성하시오.

In [1]:
exam = [95, 87, 65, 78, 90, 52, 81, 73, 46, 69, 88, 92, 83, 62, 71]

for i in exam:
    if i >= 90:
        print("A")
    elif i >= 80:
        print("B")
    elif i >= 70:
        print("C")
    elif i >= 60:
        print("D")
    else:
        print("F")

A
B
D
C
A
F
B
C
F
D
B
A
B
D
C

- 다음 중 역대 하계 올림픽 개최 연도가 아닌 것을 출력하는 코드를 작성하시오.

In [16]:
year = [2000, 1896, 1936, 1972, 1996, 1988, 2016, 2002, 1952, 1960]

for i in year:
    if i % 4 != 0:
        print(i)

2002

- 다음은 2018 메이저리그 야구 데이터이다. 뉴욕 양키스(NYY) 유격수(SS)의 타석 수, 안타, 타율 데이터만 추출하여라.  
cf) Player: 선수명,  Team: 팀명,  Pos: 포지션,  타석 수: AB,  안타: H,  AVG: 타율

In [2]:
import pandas as pd
MLB_18 = pd.read_csv("MLB_2018.csv")
print(MLB_18.head())

   RK    Player Team Pos  G  AB  R  H  2B  3B  HR  RBI  BB  SO  SB  CS  AVG  \
0   1  Allard K  ATL   P  3   1  1  1   0   0   0    0   0   0   0   0  1.0
1   1  Gibson K  MIN   P  1   2  2  2   0   0   0    0   0   0   0   0  1.0
2   1     Law D   SF   P  7   1  1  1   0   0   0    0   0   0   0   0  1.0
3   1    Nuno V   TB   P  1   2  0  2   0   0   0    1   0   0   0   0  1.0
4   1  Romero E   KC   P  4   1  1  1   1   0   0    0   0   0   0   0  1.0

   OBP  SLG  OPS
0  1.0  1.0  2.0
1  1.0  1.0  2.0
2  1.0  1.0  2.0
3  1.0  1.0  2.0
4  1.0  2.0  3.0

In [10]:
import numpy as np
NYY_SS = MLB_18[np.logical_and(MLB_18["Team"]=="NYY", MLB_18["Pos"]=="SS")]
print(NYY_SS[["AB", "H", "AVG"]])

      AB    H    AVG
175  504  135  0.268
318  296   73  0.247
634   66   11  0.167

- 2018 MLB 데이터에서 타석 수가 500 이상인 선수 중에 타율이 3할 이상인 선수의 이름을 출력하여라.

In [15]:
x = MLB_18[np.logical_and(MLB_18["AB"] >= 500, MLB_18["AVG"] >= 0.3)]
print(x["Player"])

25         Betts M
41      Martinez J
43        Yelich C
46        Altuve J
51       Gennett S
52       Freeman F
53      Brantley M
54        Rendon A
55          Cain L
58      Martinez J
59    Merrifield W
60        Segura J
68     Dickerson C
Name: Player, dtype: object