## Introduction to Python 문제

1. -50, -40, -30, -20, -10, 0, 10, 20, 30, 40, 50
를 원소로 갖는 array를 만드세요. 리스트의 이름은 celsius로 지정합니다.

2.Fahrenheit(화씨)와 Celsius(섭씨)와의 관계는
f=(c*1.8)+32의 관계식을 가집니다.
이 관계식을 이용하여 fahrenheit를 이름으로 가지는 array를 출력하세요.

3. 1번의 array와 2번의 array를 합친 2row를 가진 2차원 numpy array를 출력하세요.
여기서 각각의 column이 같은 값에 대응되게 만듭니다.

4. 3번의 2차원 numpy array를 np_2d라고 했을때 np_2d[1][2]의 값은?

5. 3번의 2차원 numpy array를 np_2d라고 했을때 np_2d[1][4:7]을 출력하시오

6. 5번이 몇행 몇열을 가지는 array인가요?

7. 화씨온도의 숫자가 같은 온도의 섭씨온도의 숫자보다 높아지는 온도는 언제인가요?

z = [3,5,7,7,1,5,5,9,11,14,32,54,3,45,98,65,44,66,72,17,24]에서 5가 몇 번 나오는지 출력하여라

z에서 98이 몇 번째에 오는지 찾아서 출력하여라

titanic.csv를 불러오고 이 데이터로 np.array를 만들어 titanic이라 변수명을 지정하여라titanic.csv를 불러오고 이 데이터로 np.array를 만들어 titanic이라 변수명을 지정하여라

In [1]:
import pandas as pd
data = pd.read_csv("titanic.csv")

In [2]:
import numpy as np

titanic의 type과 shape을 각각 출력하여라

25번째 승객의 이름을 출력하여라

승객들의 이름만 저장한 name 변수를 만들어라(이름은 4번째 열)

승객들의 나이만 저장한 age 변수를 만들어라(나이는 6번째 열)

승객들의 나이의 중간값을 구하여라

age와 name변수를 이용해서 이름이 'Moen, Mr. Sigurd Hansen' 인 사람의 나이를 출력하여라