# Bring It All Together!
## Welcome to the case study!
### World bank data
It contains data on 217 world economies for over half a century, from 1960 up until 2015
<br> Indicators
- Population (인구)
- Electricity consumption (전기 소비량)
- CO2 emissions (이산화탄소 배출량)
- Literacy rates (문해율)
- Unemployment (실업)
- Mortality rates (사망률)

### Using zip()
It accepts an arbitary number of iterables and returns an iterator of tuples.

같은 길이의 리스트를 같은 인덱스끼리 잘라서 리스트로 반환을 해주는 역할

In [2]:
drinks = ['americano', 'latte', 'ade', 'tea']
places = ['starbucks', 'coffeeso', 'cafepine', 'kiraku']
z = zip(drinks, places)

In [4]:
(drinks, places)

(['americano', 'latte', 'ade', 'tea'],
 ['starbucks', 'coffeeso', 'cafepine', 'kiraku'])

In [2]:
print(type(z))

<class 'zip'>

In [3]:
print(list(z))

[('americano', 'starbucks'), ('latte', 'coffeeso'), ('ade', 'cafepine'), ('tea', 'kiraku')]

### Defining a function
#### raise.py

In [4]:
def raise_both(value1, value2):
    """ Raise value1 to the power of value 2
    and vice versa."""
    
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1
    new_tuple  = (new_value1, new_value2)
    
    return new_tuple

- function headers begin with the keyword **def**
- followed by the function name, arguments inside parentheses and a colon
- function body
    - with the docstrings enclosed in triple quotation(""" """) marks
    - the rest of the function body performs the computation that the function does
    - closes with the keyword **return**

### List comprehensions
#### Basic

In [ ]:
[output expression for iterator variable in iterable]

#### Advanced

In [ ]:
[output expression + conditional on output for iterator variable in iterable + conditional on iterable]

conditionals: and/or

---
## Using Python generators for streaming data
### Generators for the large data limit
Use a generator to load a file line by line
<br> Works on streaming data
- Read and process the file until all lines are exhausted

### Build a generator function
#### sequence.py

In [21]:
def num_sequence(n):
    """Generate values from 0 to n"""
    
    i = 0
    while i < n:
        yield i
        i += 1

In [29]:
next(a)

StopIteration:

In [24]:
a = num_sequence(4)

- when called with a number n, produces a generator object that generates integers 0 though n
- i is initialized to 0
    - The first time the generator object is called, it yields i equal to 0
    - Then adds one to i and will then yield one on the next iteration and so on.
- The while loop is true **until i equals n** and then the generator ceases to yield values

---
## Using pandas' read_csv iterator for streaming data
### Reading files in chunks
**read_csv()** function and **chunk_size** argument
<br>Look at specific indicators in specific countries
<br> Write a function to generalize tasks

loop때마다 csv 파일을 몇 줄씩 읽어올지 지정

In [21]:
import pandas as pd

In [24]:
df_reader = pd.read_csv('/Users/yoonjeonghyeon/Desktop/python/KUBIG/Python Study/WDI_csv/WDIData.csv', chunksize = 10)

In [25]:
print(next(df_reader))

  Country Name Country Code  \
0   Arab World          ARB
1   Arab World          ARB
2   Arab World          ARB
3   Arab World          ARB
4   Arab World          ARB
5   Arab World          ARB
6   Arab World          ARB
7   Arab World          ARB
8   Arab World          ARB
9   Arab World          ARB

                                      Indicator Name     Indicator Code  1960  \
0  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS   NaN
1            Access to electricity (% of population)     EG.ELC.ACCS.ZS   NaN
2  Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS   NaN
3  Access to electricity, urban (% of urban popul...  EG.ELC.ACCS.UR.ZS   NaN
4  Account ownership at a financial institution o...     FX.OWN.TOTL.ZS   NaN
5  Account ownership at a financial institution o...  FX.OWN.TOTL.FE.ZS   NaN
6  Account ownership at a financial institution o...  FX.OWN.TOTL.MA.ZS   NaN
7  Account ownership at a financial institution o...  FX.OWN.TOTL.OL.ZS   NaN
8  Account ownership at a financial institution o...  FX.OWN.TOTL.40.ZS   NaN
9  Account ownership at a financial institution o...  FX.OWN.TOTL.PL.ZS   NaN

   1961  1962  1963  1964  1965  ...       2012       2013       2014  \
0   NaN   NaN   NaN   NaN   NaN  ...  83.120303  83.533457  83.897596
1   NaN   NaN   NaN   NaN   NaN  ...  87.512260  88.129881  87.275323
2   NaN   NaN   NaN   NaN   NaN  ...  77.251714  78.165706  75.512153
3   NaN   NaN   NaN   NaN   NaN  ...  96.435957  96.772853  96.466705
4   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN  30.277130
5   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN  22.079350
6   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN  37.790764
7   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN  34.216583
8   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN  22.779890
9   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN  21.278042

        2015       2016       2017       2018  2019  2020  Unnamed: 65
0  84.171599  84.510171        NaN        NaN   NaN   NaN          NaN
1  88.720097  89.308602  90.283638  89.286856   NaN   NaN          NaN
2  78.211000  79.065508  81.102134  79.248100   NaN   NaN          NaN
3  96.936319  97.290083  97.467915  97.063959   NaN   NaN          NaN
4        NaN        NaN  37.165211        NaN   NaN   NaN          NaN
5        NaN        NaN  25.635403        NaN   NaN   NaN          NaN
6        NaN        NaN  48.328518        NaN   NaN   NaN          NaN
7        NaN        NaN  42.542046        NaN   NaN   NaN          NaN
8        NaN        NaN  27.724781        NaN   NaN   NaN          NaN
9        NaN        NaN  26.458111        NaN   NaN   NaN          NaN

[10 rows x 66 columns]

In [26]:
print(next(df_reader))

   Country Name Country Code  \
10   Arab World          ARB
11   Arab World          ARB
12   Arab World          ARB
13   Arab World          ARB
14   Arab World          ARB
15   Arab World          ARB
16   Arab World          ARB
17   Arab World          ARB
18   Arab World          ARB
19   Arab World          ARB

                                       Indicator Name  \
10  Account ownership at a financial institution o...
11  Account ownership at a financial institution o...
12  Account ownership at a financial institution o...
13  Adequacy of social insurance programs (% of to...
14  Adequacy of social protection and labor progra...
15  Adequacy of social safety net programs (% of t...
16  Adequacy of unemployment benefits and ALMP (% ...
17  Adjusted net enrollment rate, primary (% of pr...
18  Adjusted net enrollment rate, primary, female ...
19  Adjusted net enrollment rate, primary, male (%...

              Indicator Code  1960  1961  1962  1963  1964  1965  ...  \
10         FX.OWN.TOTL.60.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...
11         FX.OWN.TOTL.SO.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...
12         FX.OWN.TOTL.YG.ZS   NaN   NaN   NaN   NaN   NaN   NaN  ...
13  per_si_allsi.adq_pop_tot   NaN   NaN   NaN   NaN   NaN   NaN  ...
14     per_allsp.adq_pop_tot   NaN   NaN   NaN   NaN   NaN   NaN  ...
15  per_sa_allsa.adq_pop_tot   NaN   NaN   NaN   NaN   NaN   NaN  ...
16  per_lm_alllm.adq_pop_tot   NaN   NaN   NaN   NaN   NaN   NaN  ...
17               SE.PRM.TENR   NaN   NaN   NaN   NaN   NaN   NaN  ...
18            SE.PRM.TENR.FE   NaN   NaN   NaN   NaN   NaN   NaN  ...
19            SE.PRM.TENR.MA   NaN   NaN   NaN   NaN   NaN   NaN  ...

        2012      2013       2014      2015      2016       2017      2018  \
10       NaN       NaN  35.237480       NaN       NaN  43.446953       NaN
11       NaN       NaN  38.900612       NaN       NaN  48.666977       NaN
12       NaN       NaN  21.256142       NaN       NaN  20.954800       NaN
13       NaN       NaN        NaN       NaN       NaN        NaN       NaN
14       NaN       NaN        NaN       NaN       NaN        NaN       NaN
15       NaN       NaN        NaN       NaN       NaN        NaN       NaN
16       NaN       NaN        NaN       NaN       NaN        NaN       NaN
17  85.20714  84.21832  84.254300  84.03523  84.53258  85.143750  85.38422
18  84.11878  83.21839  83.344940  83.18996  83.82028  83.994780  84.25278
19  86.30059  85.22583  85.183590  84.89517  85.25464  86.288360  86.50601

    2019  2020  Unnamed: 65
10   NaN   NaN          NaN
11   NaN   NaN          NaN
12   NaN   NaN          NaN
13   NaN   NaN          NaN
14   NaN   NaN          NaN
15   NaN   NaN          NaN
16   NaN   NaN          NaN
17   NaN   NaN          NaN
18   NaN   NaN          NaN
19   NaN   NaN          NaN

[10 rows x 66 columns]

In [56]:
df = pd.read_csv('/Users/yoonjeonghyeon/Desktop/python/KUBIG/Python Study/WDI_csv/WDIData.csv', chunksize = 3000)

In [57]:
df2 = next(df)

In [58]:
df3 = df2[df2['Country Code'] == 'ARB']

In [60]:
year_20152016 = zip(df3['2015'],
                   df3['2016'])

In [62]:
list_year = list(year_20152016)

In [66]:
dfyear = pd.DataFrame(list_year)

In [67]:
dfyear

              0          1
0     84.171599  84.510171
1     88.720097  89.308602
2     78.211000  79.065508
3     96.936319  97.290083
4           NaN        NaN
...         ...        ...
1435        NaN        NaN
1436        NaN        NaN
1437        NaN        NaN
1438  40.662694  40.906893
1439        NaN        NaN

[1440 rows x 2 columns]

## Final thoughts
User-defined functions
<br> Iterators
<br> List comprehensions
<br> Generators