1. 아래 코드의 결과값을 예측해보세요

In [ ]:
singer = "Taylor Swift"  
def function1():  
    global singer  
    singer = "Lauv"  
print(singer) 
function1()  
print(singer)

2. 아래 코드의 결과값을 예측해보세요

In [ ]:
def function2(name):
    sentence = "Hello, " + name + "!"
    print(sentence)
    def function2_1():
        nonlocal sentence
        sentence = sentence + " Nice to meet you."
    function2_1()
    print(sentence)
function2("Joey")

3. map과 lambda function을 활용해 Friends 리스트에 있는 값들의 첫글자를 대문자로 바꿔준 후,   
결과를 result에 저장하고, result를 list로 변환하여 result_list에 저장한 후, result_list를 출력하여 결과를 확인하세요.

In [ ]:
Friends = ['ross', 'chandler', 'joey', 'monica', 'rachel', 'phoebe']

4. filter와 lambda function을 활용해 score 리스트에 있는 값들 중 50보다 큰 값을 추출한 후,  
결과를 high_score에 저장하고, high_score를 list로 변환하여 high_score_list에 저장한 후, high_score_list를 출력하여 결과를 확인하세요.

In [ ]:
score = [100, 20, 32, 50, 64, 70]

5_1. 'BankChurners.csv' 파일을 데이터프레임 형태로 가져와 변수 bankdata로 지정한 후, 다음의 기능을 하는 함수 count를 정의하세요.  
__count(df, col_name)__
- col_name의 기본값은 "Education_Level"
- df에서 col_name에 해당하는 열에 존재하는 값마다 각 값에 해당하는 관찰값의 개수를 누적해 더해준 후, 결과를 dictionary형태로 반환(return)  
결과값예시 : {'High School': 2013, 'Graduate': 3128, 'Uneducated': 1487, 'Unknown': 1519, 'College': 1013, 'Post-Graduate': 516, 'Doctorate': 451}
- 만약 입력된 col_name이 df에 존재하지 않는 열이름이라면, "The DataFrame does not have a (  ) column." 이라는 문구가 출력(괄호 안에는 입력된 col_name이 들어감) _(try except 활용)_

5_2. result1에는 bankdata 데이터프레임의 "Education_Level" 열에 count함수를 적용한 값 저장  
result2에는 bankdata 데이터 프레임의 "Card_Category" 열에 count함수를 적용한 값 저장  
result1과 result2를 출력하여 결과가 잘 나오는지 확인해보세요.

5_3. result3에는 Bankdata와 "Address" 열을 count함수에 적용시켜 보고, 출력하여 결과를 확인해보세요.

모든 사람들이 일주일 동안 매일 자신이 정한 균등한 시간만큼 잔다고 가정할 때,  
하루에 x시간 자는 사람의 일주일 간 수면 시간에 " hours"를 붙이는 y를 구하는 함수 'seventimes'를 만들고,  
함수의 결과값을 변수 'sleeptime'으로 지정한다고 할 때,  
하루에 8시간 자는 A씨의 일주일 수면 시간을 출력하시오.

동물병원A에서 반려견이 두 마리 등록돼 있는 가정 리스트를 정리하고자,  
두 마리의 반려견 이름을 각각 입력하면 dog1: word1 - dog2: word2 포맷의 리스트를 출력하는 함수 label을 만드려고 한다.  
함수의 결과값을 변수 'new_label'이라고 지정한다고 할 때,  
반려견 이름이 각각 happy와 coco인 집의 리스트를 출력하시오.

A반 아이들이 수학, 영어 시험을 봤다.  
두 과목의 시험 결과(pass or fail)를 각각 입력하면 과목명 뒤에 시험 결과가 붙어 나오는  
ex) 'math: pass' 'english: fail' 포맷의 결과를 출력하는 함수 all_result를 만드려고 한다.

수학 시험의 결과를 result1,  영어 시험의 결과를 result2라고 지정하고, result1과 result2를 원소로 갖는 tuple을 test_result라고 지정하고,  
수학 시험의 결과가 pass, 영어 시험의 결과가 fail인 학생의 결과를 각각 test_result1, test_result2로 지정하여  
이 학생의 수학, 영어 시험 결과를 각각 출력하시오.

titanic data를 가져와 데이터프레임 변수 df로 지정한 후,  
Pclass_count란 이름의 빈 dictionary를 설정하라.  

Pclass column에 해당하는 데이터프레임을 'col'로 지정한 후,  
for loop와 if-else 조건문을 사용하여 titanic호 탑승객들의  
Plcass 별 숫자를 나타내는 dictionary  Pclass_count를 출력하시오.

"8000 won" 을 변수 price로 지정한 후,  
price의 변수값을 "7.16 dollor"로 변환하는 함수 "change_USD"를 정의해  
해당 함수를 쓴 후 price를 출력하시오.

함수 clap_congratulate(name)을 정의하려고 한다.  

"clap!"을 3번 반복 출력하고 한 칸 띈 후 name이 출력되는 것을 clap_name으로 변수 지정 후,  
inner fuction으로 congratulate( )을 nonlocal clap_name을 사용하여  
clap_name을 clap_name에 ", congratulation!"가 붙은 변수로 재지정 후 출력되는 함수로 정의하고,  
clap_congratulate("Joy")를 출력하시오.

A반 학생들이 버거를 주문하려고 한다.  
마침 이들이 주문할 가게에서 콜라 하나를 무료로 주는 이벤트를 하고 있다.  
그런데 아직 몇 명이 주문을 할지는 모르나 몇 개를 주문하든 콜라는 하나만 제공된다.  

*args를 사용하여 함수 set_event()를  
"coke + " 이후 각 주문 메뉴가 프린트 되도록 설정한 후,  

A반에서 "CheezeBuger", "ChickenBuger", "ShrimpBuger"를 시킬 경우를 ClassA로 지정해  
ClassA를 출력하시오.

이번에는 모든 주문 메뉴에 콜라가 하나씩 증정되는 이벤트를 한다고 한다.  
A반에서 주문한 메뉴 리스트 ["CheezeBuger", "ChickenBuger", "ShrimpBuger"]를 ClassA로 지정하고,  
map()과 lambda 함수를 사용해 모든 메뉴에 " + coke"가 붙어 있는 새 리스트 ClassA_set_event를 출력하시오