1. 아래 코드의 결과값을 예측해보세요

In [52]:
singer = "Taylor Swift"  
def function1():  
    global singer  
    singer = "Lauv"  
print(singer) 
function1()  
print(singer)

Taylor Swift
Lauv

2. 아래 코드의 결과값을 예측해보세요

In [53]:
def function2(name):
    sentence = "Hello, " + name + "!"
    print(sentence)
    def function2_1():
        nonlocal sentence
        sentence = sentence + " Nice to meet you."
    function2_1()
    print(sentence)
function2("Joey")

Hello, Joey!
Hello, Joey! Nice to meet you.

3. map과 lambda function을 활용해 Friends 리스트에 있는 값들의 첫글자를 대문자로 바꿔준 후,   
결과를 result에 저장하고, result를 list로 변환하여 result_list에 저장한 후, result_list를 출력하여 결과를 확인하세요.

In [54]:
Friends = ['ross', 'chandler', 'joey', 'monica', 'rachel', 'phoebe']
result = map(lambda x: x.capitalize(), Friends)
result_list = list(result)
print(result_list)

['Ross', 'Chandler', 'Joey', 'Monica', 'Rachel', 'Phoebe']

4. filter와 lambda function을 활용해 score 리스트에 있는 값들 중 50보다 큰 값을 추출한 후,  
결과를 high_score에 저장하고, high_score를 list로 변환하여 high_score_list에 저장한 후, high_score_list를 출력하여 결과를 확인하세요.

In [60]:
score = [100, 20, 32, 50, 64, 70]
high_score = filter(lambda x: x > 50, score)
high_score_list = list(high_score)
print(high_score_list)

[100, 64, 70]

5_1. 'BankChurners.csv' 파일을 데이터프레임 형태로 가져와 변수 bankdata로 지정한 후, 다음의 기능을 하는 함수 count를 정의하세요.  
__count(df, col_name)__
- col_name의 기본값은 "Education_Level"
- df에서 col_name에 해당하는 열에 존재하는 값마다 각 값에 해당하는 관찰값의 개수를 누적해 더해준 후, 결과를 dictionary형태로 반환(return)  
결과값예시 : {'High School': 2013, 'Graduate': 3128, 'Uneducated': 1487, 'Unknown': 1519, 'College': 1013, 'Post-Graduate': 516, 'Doctorate': 451}
- 만약 입력된 col_name이 df에 존재하지 않는 열이름이라면, "The DataFrame does not have a (  ) column." 이라는 문구가 출력(괄호 안에는 입력된 col_name이 들어감) _(try except 활용)_

In [56]:
import pandas as pd
bankdata = pd.read_csv('BankChurners.csv')
display(bankdata)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [57]:
def count(df, col_name='Education_Level'):
    cols_count = {}
    try:
        col = df[col_name]
        for i in col:
            if i in cols_count.keys():
                cols_count[i] += 1
            else:
                cols_count[i] = 1
        return cols_count
    except:
        print("The DataFrame does not have a " + col_name + " column.")

5_2. result1에는 bankdata 데이터프레임의 "Education_Level" 열에 count함수를 적용한 값 저장  
result2에는 bankdata 데이터 프레임의 "Card_Category" 열에 count함수를 적용한 값 저장  
result1과 result2를 출력하여 결과가 잘 나오는지 확인해보세요.

In [58]:
result1 = count(bankdata)
print(result1)
result2 = count(bankdata, "Card_Category")
print(result2)

{'High School': 2013, 'Graduate': 3128, 'Uneducated': 1487, 'Unknown': 1519, 'College': 1013, 'Post-Graduate': 516, 'Doctorate': 451}
{'Blue': 9436, 'Gold': 116, 'Silver': 555, 'Platinum': 20}

5_3. result3에는 Bankdata와 "Address" 열을 count함수에 적용시켜 보고, 출력하여 결과를 확인해보세요.

In [59]:
result3 = count(bankdata, "Address")

The DataFrame does not have a Address column.

모든 사람들이 일주일 동안 매일 자신이 정한 균등한 시간만큼 잔다고 가정할 때,  
하루에 x시간 자는 사람의 일주일 간 수면 시간에 " hours"를 붙이는 y를 구하는 함수 'seventimes'를 만들고,  
함수의 결과값을 변수 'sleeptime'으로 지정한다고 할 때,  
하루에 8시간 자는 A씨의 일주일 수면 시간을 출력하시오.

In [14]:
def seventimes(x):
    y = str(7 * x) + " hours"
    return y

sleeptime = seventimes(8)

print(sleeptime)

56 hours

동물병원A에서 반려견이 두 마리 등록돼 있는 가정 리스트를 정리하고자,  
두 마리의 반려견 이름을 각각 입력하면 dog1: word1 - dog2: word2 포맷의 리스트를 출력하는 함수 label을 만드려고 한다.  
함수의 결과값을 변수 'new_label'이라고 지정한다고 할 때,  
반려견 이름이 각각 happy와 coco인 집의 리스트를 출력하시오.

In [20]:
def label(word1, word2):
    label1 = "dog1: " + word1 + " - "
    label2 = "dog2: " + word2
    
    new_label = label1 + label2

    return new_label

pet = label('happy','coco')

print(pet)

dog1: happy - dog2: coco

A반 아이들이 수학, 영어 시험을 봤다.  
두 과목의 시험 결과(pass or fail)를 각각 입력하면 과목명 뒤에 시험 결과가 붙어 나오는  
ex) 'math: pass' 'english: fail' 포맷의 결과를 출력하는 함수 all_result를 만드려고 한다.

수학 시험의 결과를 result1,  영어 시험의 결과를 result2라고 지정하고, result1과 result2를 원소로 갖는 tuple을 test_result라고 지정하고,  
수학 시험의 결과가 pass, 영어 시험의 결과가 fail인 학생의 결과를 각각 test_result1, test_result2로 지정하여  
이 학생의 수학, 영어 시험 결과를 각각 출력하시오.

In [23]:
def all_result(word1, word2):
    
    result1 = 'math: ' + word1 
    result2 = 'english: ' + word2
    
    test_result = (result1, result2)

    return test_result

test_result1, test_result2 = all_result('pass', 'fail')

print(test_result1)
print(test_result2)

math: pass
english: fail

titanic data를 가져와 데이터프레임 변수 df로 지정한 후,  
Pclass_count란 이름의 빈 dictionary를 설정하라.  

Pclass column에 해당하는 데이터프레임을 'col'로 지정한 후,  
for loop와 if-else 조건문을 사용하여 titanic호 탑승객들의  
Plcass 별 숫자를 나타내는 dictionary  Pclass_count를 출력하시오.

In [26]:
import pandas as pd

df = pd.read_csv("titanic.csv")

Pclass_count = {}

col = df["Pclass"]

for entry in col:
    if entry in Pclass_count.keys():
        Pclass_count[entry] += 1
    else:
        Pclass_count[entry] = 1
        
print(Pclass_count)

#key값 기준 오름차순으로 출력을 원할시.

s_Pclass_count = dict(sorted(Pclass_count.items()))

print(s_Pclass_count)

{3: 491, 1: 216, 2: 184}
{1: 216, 2: 184, 3: 491}

"8000 won" 을 변수 price로 지정한 후,  
price의 변수값을 "7.16 dollor"로 변환하는 함수 "change_USD"를 정의해  
해당 함수를 쓴 후 price를 출력하시오.

In [40]:
price = "8000 won"

def change_USD():
    
    global price
    
    price = "7.16 dollor"
    
change_USD()

print(price)

7.16 dollor

함수 clap_congratulate(name)을 정의하려고 한다.  

"clap!"을 3번 반복 출력하고 한 칸 띈 후 name이 출력되는 것을 clap_name으로 변수 지정 후,  
inner fuction으로 congratulate( )을 nonlocal clap_name을 사용하여  
clap_name을 clap_name에 ", congratulation!"가 붙은 변수로 재지정 후 출력되는 함수로 정의하고,  
clap_congratulate("Joy")를 출력하시오.

In [25]:
def clap_congratulate(name):
    
    clap_name = "clap!"*3 + " " + name
    
    print(clap_name)
    
    def congratulate():
        
        nonlocal clap_name
        
        clap_name = clap_name + "congratulation!"
    
    congratulate()
    
    print(clap_name)

clap_congratulate("Joy")

clap!clap!clap! Joy
clap!clap!clap! Joycongratulation!

A반 학생들이 버거를 주문하려고 한다.  
마침 이들이 주문할 가게에서 콜라 하나를 무료로 주는 이벤트를 하고 있다.  
그런데 아직 몇 명이 주문을 할지는 모르나 몇 개를 주문하든 콜라는 하나만 제공된다.  

*args를 사용하여 함수 set_event()를  
"coke + " 이후 각 주문 메뉴가 프린트 되도록 설정한 후,  

A반에서 "CheezeBuger", "ChickenBuger", "ShrimpBuger"를 시킬 경우를 ClassA로 지정해  
ClassA를 출력하시오.

In [22]:
def set_event(*args):

    event = "coke + "

    for word in args:
        event += word

    return event


ClassA = set_event("CheezeBuger", "ChickenBuger", "ShrimpBuger")

print(ClassA)

coke + CheezeBugerChickenBugerShrimpBuger

이번에는 모든 주문 메뉴에 콜라가 하나씩 증정되는 이벤트를 한다고 한다.  
A반에서 주문한 메뉴 리스트 ["CheezeBuger", "ChickenBuger", "ShrimpBuger"]를 ClassA로 지정하고,  
map()과 lambda 함수를 사용해 모든 메뉴에 " + coke"가 붙어 있는 새 리스트 ClassA_set_event를 출력하시오

In [31]:
# Create a list of strings: spells
ClassA = ["CheezeBuger", "ChickenBuger", "ShrimpBuger"]
# Use map() to apply a lambda function over spells: shout_spells
set_event = map(lambda item: item+' + coke', ClassA)

# Convert shout_spells to a list: shout_spells_list
ClassA_set_event = list(set_event)

# Print the result
print(ClassA_set_event)

['CheezeBuger + coke', 'ChickenBuger + coke', 'ShrimpBuger + coke']